<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<mat-list>
  <mat-list-item *ngFor="let item of jewelleryItems" appHoverHighlight highlightColor="lightblue">
    <app-jewellery-listitem [jewel]="item"></app-jewellery-listitem>
    <div matLine>
      <p>Name: {{ item.name }}</p>
      <p>Type: {{ item.type | uppercase }}</p>
      <p>Weight: {{ item.caratWeight | number:'1.2-2' }} carats</p>
      <p>Price: {{ item.price | currency:'CAD':'symbol':'1.2-2' }}</p>
      <p>Estimated Value: {{ item.caratWeight | caratValue }}</p>
      <p>Description: {{ item.description }}</p>
    </div>
    <button mat-raised-button color="primary" (click)="editItem(item.id)" appHoverHighlight highlightColor="lightgreen">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteItem(item.id)" appHoverHighlight highlightColor="lightcoral">Delete</button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
