<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<ul>
  <li *ngFor="let item of jewelleryItems" appHoverHighlight highlightColor="lightblue" style="cursor: pointer;">
    <app-jewellery-listitem [jewel]="item"></app-jewellery-listitem>
    <div>
      <p>Name: {{ item.name }}</p>
      <p>Type: {{ item.type | uppercase }}</p>
      <p>Weight: {{ item.caratWeight | number:'1.2-2' }} carats</p>
      <p>Price: {{ item.price | currency:'CAD':'symbol':'1.2-2' }}</p>
      <p>Estimated Value: {{ item.caratWeight | caratValue }}</p>
      <p>Description: {{ item.description }}</p>
    </div>
    <button (click)="editItem(item.id)" appHoverHighlight highlightColor="lightgreen">Edit</button>
    <button (click)="deleteItem(item.id)" appHoverHighlight highlightColor="lightcoral">Delete</button>
  </li>
</ul>
